
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: controller-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - gatewayroutes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - gatewayroutes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - meshes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - meshes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - sidecars
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - sidecars/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - virtualgateways
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - virtualgateways/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - virtualnodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - virtualnodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - virtualrouters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - virtualrouters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - virtualservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - appmesh.k8s.aws
  resources:
  - virtualservices/status
  verbs:
  - get
  - patch
  - update
