apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: meshes.appmesh.k8s.aws
spec:
  group: appmesh.k8s.aws
  versions:
    - name: v1alpha1
      served: true
      storage: true
  version: v1alpha1
  scope: Namespaced
  names:
    plural: meshes
    singular: mesh
    kind: Mesh
    categories:
      - all
      - appmesh
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      required:
        - spec
      properties:
        spec:
          properties:
            serviceDiscoveryType:
              type: string
              enum:
                - dns
        status:
          properties:
            meshArn:
              type: string
            conditions:
              type: array
              items:
                type: object
                required:
                  - type
                properties:
                  type:
                    type: string
                    enum:
                      - MeshActive
                  status:
                    type: string
                    enum:
                      - "True"
                      - "False"
                      - Unknown
                  lastTransitionTime:
                    type: string
                  reason:
                    type: string
                  message:
                    type: string