# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/appmesh.k8s.aws_meshes.yaml
- bases/appmesh.k8s.aws_virtualservices.yaml
- bases/appmesh.k8s.aws_virtualnodes.yaml
- bases/appmesh.k8s.aws_virtualrouters.yaml
- bases/appmesh.k8s.aws_virtualgateways.yaml
- bases/appmesh.k8s.aws_gatewayroutes.yaml
# +kubebuilder:scaffold:crdkustomizeresource

patchesStrategicMerge:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- patches/webhook_in_meshes.yaml
#- patches/webhook_in_virtualservices.yaml
#- patches/webhook_in_virtualnodes.yaml
#- patches/webhook_in_virtualrouters.yaml
#- patches/webhook_in_virtualgateways.yaml
#- patches/webhook_in_gatewayroutes.yaml
# +kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable webhook, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- patches/cainjection_in_meshes.yaml
#- patches/cainjection_in_virtualservices.yaml
#- patches/cainjection_in_virtualnodes.yaml
#- patches/cainjection_in_virtualrouters.yaml
#- patches/cainjection_in_virtualgateways.yaml
#- patches/cainjection_in_gatewayroutes.yaml
# +kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
