name: build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: build
    runs-on: ubuntu-22.04
    steps:
    - name: Set up Go 1.22
      uses: actions/setup-go@v3
      with:
        go-version: '1.22.*'
      id: go
    - name: checkout code
      uses: actions/checkout@v2
    - name: make controller
      run: make controller
    - name: check controller binary
      run: ./bin/controller -h || true
