name: integration-test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    name: integration-test
    runs-on: [self-hosted, aws-app-mesh-controller-for-k8s, X64 ]
    steps:
      - name: intentionally break
        run: |
          lkasdf
      - name: clean work dir from previous runs
        run: |
          rm -rf *
      - name: setup go 1.16
        uses: actions/setup-go@v3
        with:
          go-version: '1.16.*'
        id: go
      - name: setup environment
        run: |
          source ~/.bashrc
      - name: checkout code
        uses: actions/checkout@v2
      - name: setup kind and run integration tests
        run: make integration-test
  cleanup:
    runs-on: [self-hosted, aws-app-mesh-controller-for-k8s, X64]
    if: ${{ always() }}
    needs: [build]
    steps:
      - name: delete kind clusters
        run: make delete-all-kind-clusters
