name: unit-test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: unit-test
    runs-on: ubuntu-18.04
    steps:
    - name: setup go 1.16
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16
      id: go
    - name: setup kubebuilder
      run: |
        arch=$(go env GOARCH)
        os=$(go env GOOS)
        curl -L https://go.kubebuilder.io/dl/2.3.1/${os}/${arch} | tar -xz -C /tmp/
        sudo mv /tmp/kubebuilder_2.3.1_${os}_${arch} /usr/local/kubebuilder
        export PATH=$PATH:/usr/local/kubebuilder/bin
    - name: checkout code
      uses: actions/checkout@v2
    - name: unit tests
      run: make test
    - name: helm v2 and v3 lint
      run: make helm-lint
